<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1>
    <b>{{ title }}</b>
  </h1>
</div>

<div class="searchbar">

  <form (ngSubmit)="find()">

    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input is-large" type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"  placeholder="Enter search term here ...">
      </p>

      <p class="control">
        <button type="submit" class="button is-large is-success">
        <span class="icon">
          <i class="fas fa-search fa-lg fa-flip-horizontal"></i>
        </span>
        </button>
      </p>

    </div>

  </form>

</div>

<div class="results">
  <div class="columns" *ngFor = "let webData of webData">
    <div class="column" >
      <h2>{{webData.title}}</h2>
    </div>
    <div class="column">
      <ul><li>{{webData.keywords}}</li></ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
