<div class="header">
  <h1>
    <b>Toronto Waste Lookup</b>
  </h1>
</div>

<div class="searchbar">

  <form (ngSubmit)="find()">

    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input is-large" (ngModelChange)="deleteResults()" type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"  placeholder="Enter search term here ...">
      </p>

      <p class="control">
        <button type="submit" class="button is-large is-success">
        <span class="icon">
          <i class="fas fa-search fa-lg fa-flip-horizontal"></i>
        </span>
        </button>
      </p>

    </div>

  </form>

</div>

<div class="results">
  <div class="columns" *ngFor = "let result of result">
    <div class="column is-half" *ngIf="result && result.title">
      <ul>
        <li><span style="font-size: 20px;">
          <a class="fas fa-star" (click)="addToFav(result)"></a>
        </span>
        {{result.title}}
        </li>
      </ul>
    </div>
    <div class="column is-half" *ngIf="result && result.body" >
      <ul><li style="list-style-type: square" [innerHTML]="result.body | unescape:'recursive' "></li></ul>
    </div>
  </div>
</div>

<footer class="favourites">
  <h2 class="favFont">
    <b>Favourites</b>
  </h2>

  <div class="columns" *ngFor = "let favourites of favourites">
    <div class="column is-half" *ngIf="favourites  && favourites.title">
      <ul>
        <li><span style="font-size: 20px;">
          <a class="fas fa-star" (click)="removeFromFav(favourites)"></a>
        </span>
          {{favourites.title}}
        </li>
      </ul>
    </div>
    <div class="column is-half" *ngIf="favourites  && favourites .body" >
      <ul><li style="list-style-type: square" [innerHTML]="favourites.body | unescape:'recursive' "></li></ul>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
